<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ServletIndex</servlet-name>
  	<display-name>ServletIndex</display-name>
  	<description></description>
  	<servlet-class>servlet.ServletIndex</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletBasket</servlet-name>
  	<display-name>ServletBasket</display-name>
  	<description></description>
  	<servlet-class>servlet.ServletBasket</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletManageModerator</servlet-name>
  	<display-name>ServletManageModerator</display-name>
  	<description></description>
  	<servlet-class>servlet.ServletManageModerator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletAddModerator</servlet-name>
  	<display-name>ServletAddModerator</display-name>
  	<description></description>
  	<servlet-class>servlet.ServletAddModerator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletManageFidelityPoint</servlet-name>
  	<display-name>ServletManageFidelityPoint</display-name>
  	<description></description>
  	<servlet-class>servlet.ServletManageFidelityPoint</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletHistory</servlet-name>
  	<display-name>ServletHistory</display-name>
  	<description></description>
  	<servlet-class>servlet.ServletHistory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletProduct</servlet-name>
  	<display-name>ServletProduct</display-name>
  	<description></description>
  	<servlet-class>servlet.ServletProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletAddProduct</servlet-name>
  	<display-name>ServletAddProduct</display-name>
  	<description></description>
  	<servlet-class>servlet.ServletAddProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletManageProduct</servlet-name>
  	<display-name>ServletManageProduct</display-name>
  	<description></description>
  	<servlet-class>servlet.ServletManageProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletProductDetail</servlet-name>
  	<display-name>ServletProductDetail</display-name>
  	<description></description>
  	<servlet-class>servlet.ServletProductDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletProfil</servlet-name>
  	<display-name>ServletProfil</display-name>
  	<description></description>
  	<servlet-class>servlet.ServletProfil</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletIndex</servlet-name>
  	<url-pattern>/ServletIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletBasket</servlet-name>
  	<url-pattern>/ServletBasket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletManageModerator</servlet-name>
  	<url-pattern>/ServletManageModerator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletAddModerator</servlet-name>
  	<url-pattern>/ServletAddModerator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletManageFidelityPoint</servlet-name>
  	<url-pattern>/ServletManageFidelityPoint</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletHistory</servlet-name>
  	<url-pattern>/ServletHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletProduct</servlet-name>
  	<url-pattern>/ServletProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletAddProduct</servlet-name>
  	<url-pattern>/ServletAddProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletManageProduct</servlet-name>
  	<url-pattern>/ServletManageProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletProductDetail</servlet-name>
  	<url-pattern>/ServletProductDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletProfil</servlet-name>
  	<url-pattern>/ServletProfil</url-pattern>
  </servlet-mapping>
</web-app>
